@{
    ViewBag.Title = "Index";
}

@section breadcrumbs{
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span> <a href="@Url.Action("Index", "Home")" title="Home">Home</a></li>
        <li class="active">Principal</li>
    </ol>
}

<div class="row md-skin">
    <div class="col-sm-12">
        <img src="~/Content/images/layout/logo.png" style="position: fixed; bottom: 50px; right: 0px;"/>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/plugins/flot")
    <script src="@Url.Content("/Content/js/app/home.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Content/plugins/jquery-ui/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Content/plugins/jquery-ui/homer.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            CarregarComponentes();
        });
    </script>
}

