@{
    ViewBag.Title = "Index";
}


@section breadcrumbs{
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span> <a href="@Url.Action("Index", "Home")" title="Home">Home</a></li>
        <li class="active">Principal</li>
    </ol>
}

<div class="row md-skin">
    <div class="col-sm-6">
        <div class="hpanel ibox">
            <div class="panel-heading hbuilt">
                <div class="panel-tools">
                    <a class="showhide"><i class="glyphicon glyphicon-chevron-up"></i></a>
                </div>
                <h1>Bem vindo(a) @ViewBag.NomeUsuario</h1>
            </div>
            <div class="panel-body">
                <small class="text-muted m-b block">Histórico das últimas 50 ocorrências:</small>
                <div id="gridHistorico" style="width:100%"></div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-6"><small id="dhHistorico" class="text-muted m-b block">Última atualização realizada às @Html.Label(DateTime.Now.ToString("HH:mm:ss"))</small></div>
                </div>
            </div>
        </div>
        <div class="hpanel ibox">
            <div class="panel-heading hbuilt">
                <div class="panel-tools">
                    <a class="showhide"><i class="glyphicon glyphicon-chevron-up"></i></a>
                </div>
                <h1>Períodos</h1>
            </div>
            <div class="panel-body">
                <small class="text-muted m-b block">Períodos Abertos:</small>
                <div id="gridPeriodo" style="width:100%"></div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-6"><small class="text-muted m-b block">Última atualização realizada às @Html.Label(DateTime.Now.ToString("HH:mm:ss"))</small></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="hpanel ibox">
            <div class="panel-heading hbuilt">
                <div class="panel-tools">
                    <a class="showhide"><i class="glyphicon glyphicon-chevron-up"></i></a>
                </div>
                <h1>Controle de Saldos Mosaic</h1>
            </div>
            <div class="panel-body">
                <div class="flot-chart">
                    <div class="flot-chart-content" id="flot-dashboard-chart"></div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="row text-left">
                        <div class="col-xs-4">
                            <div class=" m-l-md">
                                <label id="lbSaldoCalculadoPeriodo" class="h4 font-bold m-t block"></label>
                                <small class="text-muted m-b block">Saldo Calculado do Periodo</small>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class=" m-l-md">
                                <label id="lbSaldoAnual" class="h4 font-bold m-t block"></label>
                                <small class="text-muted m-b block">Saldo Anual</small>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class=" m-l-md">
                                <label id="lbSaldoUtilizado" class="h4 font-bold m-t block"></label>
                                <small class="text-muted m-b block">Saldo Utilizado</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hpanel ibox">
            <div class="panel-heading hbuilt">
                <div class="panel-tools">
                    <a class="showhide"><i class="glyphicon glyphicon-chevron-up"></i></a>
                </div>
                <h1>Importação de Arquivos</h1>
            </div>
            <div class="panel-body">
                <small class="text-muted m-b block">Últimos 5 arquivos importados:</small>
                <div id="gridImportacao" style="width:100%"></div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-6"><small class="text-muted m-b block">Última pesquisa realizada às @Html.Label(DateTime.Now.ToString("HH:mm:ss"))</small></div>
                    <div class="col-lg-6">
                        <button type="button" title="Importar arquivos exportados pelo SAP" id="btnImportar" class="btn btn-primary btn-sm pull-right">
                            <span class="glyphicon glyphicon-repeat"></span> Verificar por novos arquivos
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalOcorrenciaImportacao" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <center><h4 class="modal-title"><strong>Status da Importação</strong></h4></center>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" id="btnFechar" class="btn btn-success btn-xs" onclick="javascript: { FecharModal(this); }">
                    <span class="glyphicon glyphicon-remove"></span> Fechar
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/plugins/flot")
    <script src="@Url.Content("/Content/js/app/home.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Content/plugins/jquery-ui/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Content/plugins/jquery-ui/homer.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            CarregarComponentes();
        });
    </script>
}

