@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js" lang="pt-br" id="htmlpage" ng-app>
<head>
    <!-- META TAGS -->
    <meta charset="utf-8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="title" content="American View - Sistema Administrativo" />
    <meta name="revisit-after" content="7" />
    <meta http-equiv="Content-Language" content="pt-br">
    <meta http-equiv="refresh" content="@FormsAuthentication.Timeout.TotalSeconds;url=@FormsAuthentication.LoginUrl" />
    <title>..:: Login ::..</title>

    @Styles.Render("~/Content/css")
   
    @model AmericanView.View.Models.LoginEntry

    <style type="text/css">
        html {
            background: none;
        }

        @@media only screen and (max-width: 767px) {
            #HeaderContainer {
                min-height: 45px;
            }
        }
    </style>
</head>
<body class="blank" style="background: url('/Content/images/layout/bg-info.png') no-repeat center center; position: fixed;top: 0;left: 0;right: 0;bottom: 0; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;  background-size: cover;">
    <div id="Container" class="wrap">      
        <!-- Conteúdo -->
        <div id="ContentContainer">
            <div id="Center-Container">
                <div class="col-lg-4 col-lg-offset-3 col-md-4 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12" style="margin-top: 100px;">
                    <div class="legend">SISTEMA ADMINISTRATIVO</div>
                    <div class="control-group well">
                        @using (Html.BeginForm())
                        {
                            @ViewBag.SesaoExpirada
                            @Html.ValidationSummary()
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                @Html.DisplayNameFor(c => c.Username)
                                @Html.TextBoxFor(c => c.Username, new { @id = "txtUser", @style = "width: 100%;", @class = "k-textbox", @autofocus = "" })
                            </div>
                            <div class="form-group">
                                @Html.DisplayNameFor(c => c.Password)
                                @Html.PasswordFor(c => c.Password, new { @style = "width: 100%;", @class = "k-textbox" })
                            </div>
                            @*<div class="form-group">
                                @Html.CheckBoxFor(c => c.RememberMe)
                                @Html.DisplayNameFor(c => c.RememberMe)
                            </div>*@
                            <div style="text-align:right">
                                <button id="btnLogin" type="submit" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-lock"></span> Entrar</button>
                                @*<button type="button" id="btnRestorePass" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-refresh"></span> Esqueci minha senha</button>*@
                            </div>
                        }                       
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Rodapé -->
    <div id="FooterContainer">
        <div id="Footer">
            <div class="col-xs-12">
                <small>&#174; @DateTime.Now.Year.ToString() - Todos direitos reservados.</small>                
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">

        $(document).ready(function () {

            @*$('#btnRestorePass').click(function () {
                window.location = '@Url.Content("~/Login/RestorePass")';
            });*@

        });
    </script>
</body>

</html>









@*@model AmericanView.View.Models.LoginEntry
<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                    <img alt="logo" src="/Images/LOGO_TAX_VISION.png">
                </div>
            <div class="hpanel">
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @ViewBag.SesaoExpirada
                        @Html.ValidationSummary()
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.DisplayNameFor(c => c.Username)
                            @Html.TextBoxFor(c => c.Username, new { @id = "txtUser", @style = "width: 100%;", @class = "k-textbox", @autofocus = "" })
                        </div>
                        <div class="form-group">
                            @Html.DisplayNameFor(c => c.Password)
                            @Html.PasswordFor(c => c.Password, new { @style = "width: 100%;", @class = "k-textbox" })
                        </div>
                        <div class="form-group">
                            <button id="btnLogin" type="submit" class="btn btn-success btn-block"> Autenticar</button>
                            <button type="button" id="btnRestorePass" class="btn btn-default btn-block" onclick="@("window.location.href='" + @Url.Action("ForgotPassword", "Login") + "'");"> Esqueci minha senha</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-12 text-center">
                <strong>Tax Adviser</strong> - Um produto Tax Vision <br /> 2016 Todos os direitos reservados
            </div>
        </div>
</div>*@
