<!DOCTYPE html>
<html class="no-js" lang="pt-br" id="htmlpage">
<head>
    <!-- META TAGS -->
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="American View" />
    <meta name="keywords" content="Ingles fluente, AmericanView, American View" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="url" content="www.americanview.com.br" />
    <meta name="author" content="American View" />
    <meta name="company" content="American View" />
    <meta name="revisit-after" content="7" /> 
    <meta http-equiv="Content-Language" content="pt-br">
    <title>..:: American View ::..</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<body>  
    @*Menu*@
    <div style="position:fixed;top:0px;left:0px;width:100%;z-index:99;background-color: lightblue;">
        <table>
            <tr style="width:100%">
                <td style="width:25%; text-align:center">
                    <img src="~/Content/images/layout/logo.jpg" />
                </td>
                <td style="width:75%; text-align:right">
                    <ul>
                        <li><a href="#owl">HOME</a></li>
                        <li><a href="#SobreNos">SOBRE NÓS</a></li>
                        <li><a href="#Metodo">MÉTODO</a></li>
                        <li><a href="#Video">VÍDEO</a></li>
                        <li><a href="#TiposCurso">TIPOS DE CURSOS</a></li>
                        <li><a href="#Curso">CURSO</a></li>
                        <li><a href="#Metodologia">METODOLOGIA</a></li>
                        <li><a href="#Intercambio">INTERCÂMBIO</a></li>
                        <li><a href="#Contato">CONTATO</a></li>
                    </ul>
                </td>
            </tr>
        </table>        
    </div>   

    <div id="Container" class="wrap">
        @RenderBody()
        <br />
        <center>&#174; @DateTime.Now.Year.ToString() - Todos direitos reservados.</center>
    </div>              

    @Html.Partial("Popup")
    @Scripts.Render("~/bundles/jquery")  
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/owlcarousel")  
    @Scripts.Render("~/bundles/youtube")   

    @Styles.Render("~/Content/css")

    @RenderSection("scripts", required: false)
    @RenderSection("Styles", required: false)
</body>
</html>
