<!DOCTYPE html>
<html class="no-js" lang="pt-br" id="htmlpage">
<head>
    <!-- META TAGS -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="American View" />
    <meta name="keywords" content="Ingles fluente, AmericanView, American View" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="url" content="www.americanview.com.br" />
    <meta name="author" content="American View " />
    <meta name="company" content="American View " />
    <meta name="revisit-after" content="7" /> 
    <meta http-equiv="Content-Language" content="pt-br">
    <title>..:: American View ::..</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<body>
    <div id="Container" class="wrap">
        @RenderBody()    
        <br />
        <center>&#174; @DateTime.Now.Year.ToString() - Todos direitos reservados.</center>   
    </div>

    @Html.Partial("Popup")
    @Scripts.Render("~/bundles/jquery")
  
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/owlcarousel")
    @Scripts.Render("~/bundles/sticky")
    @Scripts.Render("~/bundles/youtube")   

    @Styles.Render("~/Content/css")

    @RenderSection("scripts", required: false)
    @RenderSection("Styles", required: false)
</body>
</html>
